.productsItems {
  /* width: 100%;
    max-width: 880px;
    margin: 0 auto 0;
    padding-top: 40px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: min-content max-content 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(254, 154, 252);
    padding: 0; */

  margin: 0 auto 0;
  padding: 70px 0 12px;
  width: calc((1140 / 1280) * 100%);
  display: grid;
  grid-template-columns: repeat(auto-fit, 460px);
  grid-template-rows: repeat(auto-fit, 260px);
  column-gap: 30px;
  row-gap: 43px;
  justify-content: center;
  flex-grow: 1;
  align-content: flex-start;
}

@media screen and (max-width: 900px) {
  .productsItems {
    width: calc((708 / 768) * 100%);
    grid-template-rows: repeat(auto-fit, 231px);
    grid-template-columns: repeat(auto-fit, 339px);
    padding-left: 0;
    padding-right: 0;
    row-gap: 47px;
  }
}

@media screen and (max-width: 450px) {
  .productsItems {
    display: grid;
    width: calc((300 / 320) * 100%);
    padding: 40px 0 0;
    grid-template-rows: repeat(auto-fit, 199px);
    grid-template-columns: minmax(100px, 300px);
    gap: 39px;
  }
}

.productItem {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
