.contactsContainer {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactsTitle {
  font-size: 32px;
  font-weight: 800;
  margin: 0;
  align-self: flex-start;
  line-height: 26px;
  letter-spacing: 1.5px;
}

.contactsSubtitle {
  font-size: 32px;
  font-weight: 800;
  margin: 0;
  align-self: flex-start;
  line-height: 26px;
  letter-spacing: 1.5px;

  color: #e65d18;
}

.contactsTable {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.contactsTableCol {
  width: 50%;
}

.contactsTableTitle {
  font-size: 26px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.contactItem {
  width: 100%;
  min-width: 300px;
  border: #e65d18 solid 2px;
  background-image: url("../../images/contactsPlainIcon.jpg");
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 70px;
  padding: 15px 0 15px 130px;
  margin-top: 20px;
  box-sizing: border-box;
}

.contactsText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.contactsName {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 2.5px;
}

.contactsLink {
  margin: 0;
  font-size: 24px;
}

.contactsInfo {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  height: 215px;
  border: #1c3c5b solid 2px;
}

.contactsInfoPhoto {
  object-fit: cover;
}
