.container {
  width: 100%;
  min-width: 300px;
  border: #e65d18 solid 2px;
  background-image: url("../../../images/contactsPlainIcon.jpg");
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 70px;
  padding: 15px 0 15px 130px;
  margin-top: 20px;
  box-sizing: border-box;
}

.wrapperContacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 2.5px;
}

.link {
  margin: 0;
  font-size: 24px;
}
