.accentInfo {
  color: #e65d18;
  font-weight: bold;
  margin: 0;
  display: inline;
}

.aboutContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: calc((1475 / 1920) * 100%);
  width: max-content;
  justify-content: center;
}

.titleAbout {
  font-size: 38px;
  margin: 0;
  font-weight: bold;
  padding: 50px 0 20px;
  align-self: flex-start;
  color: #1c3c5b;
}

.wrapperAboutInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.containerInfo {
  font-size: 10px;
  width: 50%;
  margin: 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutInfo {
  font-size: 24px;
  margin: 0;
  text-align: justify;
}

.aboutPhotoWrapper {
  width: 475px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}

.aboutPhoto {
  --s: 40px;
  --t: 3px;
  --g: 10px;

  width: 100%;
  object-fit: cover;
  font-size: 16px;
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #e65d18;
  outline-offset: calc(-1 * var(--t));
  -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: 0.4s;
  cursor: pointer;
  box-sizing: border-box;
}
.aboutPhoto:hover {
  outline-offset: calc(var(--g) / -1);
}
